{% extends 'base.html.twig' %}

{% block title %}Nos biens{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {% if property.filename %}
                        <img src="{{vich_uploader_asset(property, 'imageFile') | imagine_filter('medium')}}" alt="card-img-top">
                    {% else %}
                        <img src="{{'/images/properties/empty.jpg'}}" alt="card-img-top" style="width:800px; height:320px;">
                    {% endif %}
                </div>
                <div class="col-md-4">
                <h1>{{property.title}}</h1> 
                <h2>{{property.rooms}} pièces - {{property.surface}} m2</h2>
                <div class="text-primary" style="font-size:4em; font-weight: bold;">{{property.formatedPrice}} €</div>
                <a class="btn btn-primary">Contacter l'agence</a>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{message}}
                    </div>
                {% endfor %}
                <div id="contactForm" class="mt-4">
                    {{form_start(form)}}
                        <div class="row">
                            <div class="col">{{form_row(form.firstname)}}</div>
                            <div class="col">{{form_row(form.lastname)}}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{form_row(form.phone)}}</div>
                            <div class="col">{{form_row(form.email)}}</div>
                        </div>
                        {{form_rest(form)}}
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                    {{form_end(form)}}
                </div>
                </div>
            </div>
        </div>      
    </div>
    
    <div class="container mt-4">
        <p>
            {{property.description | nl2br}}
        </p>

        <div class="row">
            <div class="col-md-8">
                <h2>Caractéristique</h2>
                <table class="table table-striped">
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{property.surface}} m2</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{property.rooms}}</td>
                    </tr>
                    <tr>
                        <td>Chambres</td>
                        <td>{{property.bedrooms}}</td>
                    </tr>
                    <tr>
                        <td>Etage</td>
                        <td>{{property.floor}}</td>
                    </tr>
                    <tr>
                        <td>Chauffage</td>
                        <td>{{property.heat}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Spécificité</h2>
                <ul class="list-group">
                    {% for option in property.options %}
                        <li class="list-group-item">{{option.name}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
 